<h3>The following links are provided from the Parent Edit component</h3>
<div class="panel-body">
    <div class="panel-body">
        <div class="wizard">
            <a [routerLink]="['info']" routerLinkActive="active">
                Basic Information
            </a>
            <a [routerLink]="['tags']" routerLinkActive="active">
                Search Tags
            </a>
            <a [routerLink]="['reactInfo']" routerLinkActive="active">
                Basic Info - Reactive
            </a>
        </div>

        <router-outlet></router-outlet>
    </div>

</div>